<li><%= link_to "Roles", roles_path %></li>
<li><%= link_to "Tasks", tasks_path %></li>
<li><%= link_to "Categories", categories_path %></li>
<li><%= link_to "Employees", employees_path %></li>
<li><%= link_to "Org Units", org_units_path %></li>
<li><%= link_to "Organigram", organigram_path %></li>